


  <style>
  span.glyphicon-fire {
    font-size: 55px;
    margin-right: 2%; 
    float:left;
}
  </style>
      <nav class="navbar navbar-inverse navbar-fixed-top " style="background-color:#0C1A1E; font-color:white;">
      
      <div class="container">
        
         <a id="logo-container" href="#/" class="brand-logo"> <span class="glyphicon glyphicon-fire brand-logo"  aria-hidden="true"></span></a>
      
       
        <div class="navbar-header">
         

          <a class="navbar-brand " style="color:white;" >Innova-ID</a>
          
        </div>
       
      </div>
    </nav>